[Desktop Entry]
Encoding=UTF-8
Name=Link to 20170401_151231.jpg
Type=Link
URL=imap://jhauzeur85%40hotmail%2Ecom@imap-mail.outlook.com:993/fetch%3EUID%3E/INBOX%3E10456?part=1.2&filename=20170401_151231.jpg
Icon=text-html
